*{margin: 0; padding: o; box-sizing: border-box;}

/* Cabeçalho */
header{
    background-color: #3db36b;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #0f642f;
}

/* Main Galeria de produtos */
.container{
    background-color: #eee;
    min-height: 30vh;
    padding: 50px;
}

/* Tênis */
.card{
    width: 31%;
    display: inline-block;
}

/* Rodapé */
footer{
    background-color: #3db36b;
    color:#fff;
    border-top: 3px solid #0f642f;
    padding: 80px;
}